---
import { Image } from 'astro:assets'

import portrait from '~/assets/speakers/michiel-overeem.png'

import Layout from '~/layouts/Base.astro'
---

<Layout title="Michiel Overeem">
  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/speakers" title="Back to full overview">&lt; Back to the speakers</a>
      </code>

      <h1 id="abstract">Abstract</h1>

      <p><strong>Low-Code Platforms, Tales from a Software Architect</strong></p>

      <p>
        Software is eating the world, and every company is a software company. But how can we expect traditional companies to make this digital transformation when software engineers are scarce and developing software is hard (even for digital companies)? Low-code platforms could be the answer. Low-code is growing in popularity, and the platforms are getting more sophisticated. However, the development of the low-code platform itself is not an easy task. Multiple layers of abstraction and indirection make it hard for developers to grasp. In this endeavor, the role of the software architect is essential. He should guard the overall system, its structure, and its quality characteristics, while also allowing as much change from new insights as possible. In this talk I will share stories from the past decade at AFAS Software in which we developed an in-house low-code platform to power our new ERP product.
      </p>

      <h1>Bio</h1>

      <p>
        Michiel Overeem is a Lead Software Architect at AFAS Software. He is part of the team responsible for their low-code platform. As a PhD candidate with Utrecht University he conducts research on low-code platforms.
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={portrait} alt="Michiel Overeem" class="photograph" />
    </div>
  </div>
</Layout>
