---
import { Image } from 'astro:assets'

import portrait from '~/assets/speakers/dennis.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Dennis Fleurbaaij<br />
      Former QT Technology Lead at Optiver
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="fullwidth">
      <code>
        <a href="/speakers" title="Back to full overview">&lt; Back to the speakers</a>
      </code>

      <h1 id="abstract">Abstract</h1>

      <p>
        Technology is one of the key drivers of competition in trading these days. A modern quantitative trading operation uses FPGAs for low latency, clouds for machine learning & massive storage systems for data; all coupled together with mix of open and closed source systems.
      </p>

      <p>
        This talk will take you on a journey through this world, starting all the way at the beginning with the basics of trading and the laws of supply and demand. From there out we'll take a look at why latency is important. And why do you need this machine learning anyway?
      </p>

      <p>
        At the end of the story, I'm going to look at the human side. Because no matter how big the stack of technology, it's all built and operated by engineers - like you'll be. Over the years we have found that some engineers are successful at most problems while others just seem to get stuck; the difference is a surprisingly small set of traits and principles.
      </p>
    </div>

    <div class="column" id="biography">
      <h2>About Dennis</h2>

      <p>
        Dennis has more than ten years' experience working in trading-, engineering- and leadership roles in proprietary trading. He joined Optiver Europe in 2013, focusing on low-latency, backtesting and managing a front-office development team. In 2016, he led the technology side of an internal quantitative trading startup, which has the aim of applying machine-learning techniques in financial markets. Since 2018, Dennis has been ensuring Optiver's competitiveness in key markets and business cases.
      </p>

      <p>
        Dennis is a graduate of the Tilburg University and holds a MSc. in Management of Information Systems and a BSc. in Software Engineering.
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={portrait} class="photograph" alt="Dennis Fleurbaaij" />
    </div>
  </div>
</Layout>
