---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/keylane.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Platinum Partner<br />
      <a href="https://careers.keylane.com/" title="Keylane" target="_blank" rel="noopener">
        <button>Keylane</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to partner overview">&lt; Back to the partner overview</a>
      </code>

      <h2>Keylane, a software company & industry-leading SaaS platform</h2>

      <p>
        We believe in changing the Insurance and Pension industry through technology. We empower our customers to innovate and stay ahead in an ever-changing market. Our mission leads us on the path to achieve our vision of being the leading SaaS platform provider in the Benelux, DACH & Nordics.Therefore we offer a best-in-class SaaS platform, in a fully controlled and secured private cloud environment.
      </p>

      <p>
        We are experts, who are cooperative and eager to do the best. We drive industry standards by developing best practices in standardized migrations, implementations, and comprehensive project management. Having our own data migration competence center, enables us to be in control, executing complex legacy migrations. Keylane has gone through rapid growth due to a "Buy & Build strategy", which includes 10 acquisitions since 2012. The upcoming years Keylane will keep its focus on growth and market leadership, as well as on corporate integration.
      </p>

      <p>
        Headquartered in Utrecht in the Netherlands, Keylane employs over 800 people and delivers services to over 130 Insurance and Pension companies in the Netherlands, Belgium, Germany, Denmark, Norway and Sweden.
      </p>

      <h2>More than software</h2>

      <p><i>"If you want to go fast, go alone. If you want to go far, go together".</i></p>

      <p>
        We believe software implementation is a team sport. Making Axon or Plexus work for our customers, we tailor it to their processes and integrate it with their systems. This asks for a close cooperation. With a dedicated implementation team of experienced IT Consultants & Software Developers our customers are assured of a smooth implementation of Axon.
      </p>

      <p>
        The key to successful software implementation is detailed, structured planning. We supervise the introduction of the system in close collaboration with our customers' own IT department, following a proven, step by step methodology. This ensures you the best support in migrating old systems to an efficient, flexible and cost-effective Keylane solution.
      </p>

      <p>
        When our new software platform is introduced, successful migration of data is essential. Keylane converts all data using a standardised and fully automated method. We ensure a successful outcome by testing the design, the performance of the migration and conversion software before migrating the actual data.
      </p>

      <p>
        <a href="https://careers.keylane.com/" title="Keylane" target="_blank" rel="noopener">careers.keylane.com</a>
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="Keylane Logo" />
    </div>
  </div>
</Layout>
