---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/optiver.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Gold Partner<br />
      <a href="https://www.optiver.com/eu/en/job-opportunities" title="Optiver" target="_blank" rel="noopener">
        <button>Optiver</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to partner overview">&lt; Back to the partner overview</a>
      </code>

      <p>
        Optiver is a leading technology-based trading firm with over one thousand people globally, united in our mission to improve the market. We provide liquidity to the markets, using our own capital, at our own risk, trading in tens of thousands of financial instruments on over 50 exchanges around the world.
      </p>

      <p>
        Engineering is at the core of our trading strategies. We build and maintain low-latency trading systems that respond to market events in nanoseconds. Our systems have to be fast, reliable and precise. Our engineers continually refine, store, and analyse hundreds of terabytes of data, enabling us to automatically price large, diverse sets of financial instruments with extremely low error tolerance.
      </p>

      <p>
        To do this, we use sophisticated technology and largescale systems - our infrastructure is a combination of 10 000 highly customised components and 600 different applications, which run on 1500 servers distributed globally.
      </p>

      <p>
        <code>Check your possibilities at <a href="https://www.optiver.com/eu/en/job-opportunities" title="Optiver site" target="_blank" rel="noopener">www.optiver.com/eu/en/job-opportunities</a>.</code>
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="Optiver Logo" />
    </div>
  </div>
</Layout>
