---
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      <code>exec(ut)</code> offers seven consecutive talks over the course of the day.<br />
    </p>
  </div>

  <div class="copy">
    <div id="schedule">
      <h1>Programme</h1>

      <p>
        On March 16th our venue will host seven consecutive speakers, each of whom will give a talk on a particular aspect of software and technology. In addition to this lunch and drinks are provided, offering a chance for networking with other attendees and our partners. The entire day is hosted by <a href="/speakers/chris" title="Chris Janssen">Chris Janssen</a>, an assistant professor at Utrecht University specialized in adaptive behaviour and automation.
      </p>

      <p>
        The programme below is still subject to change, and currently only contains the general layout of the day.
      </p>

      <div class="schedule-table">
        <div class="schedule-row organisational">
          <div><code>09:00</code></div>
          <div>Registration and coffee</div>
        </div>

        <div class="schedule-row organisational">
          <div><code>09:45</code></div>
          <div>Opening and welcome</div>
        </div>

        <div class="schedule-row">
          <div><code>10:00</code></div>
          <div>Gabriela D'Ávila Ferrara (Keynote)</div>
          <div>
            <a href="/speakers/gabi" title="Gabi's talk">BigQuery Machine Learning</a>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div><code>10:50</code></div>
          <div>Coffee break</div>
        </div>

        <div class="schedule-row">
          <div><code>11:20</code></div>
          <div>Tom van Beveren</div>
          <div>
            <a href="/speakers/tom" title="Tom's talk">Designing with the Colorblind in Mind</a>
          </div>
        </div>

        <div class="schedule-row">
          <div><code>12:00</code></div>
          <div>Simon Østengaard</div>
          <div>
            <a href="/speakers/simon" title="Simon's talk">How DevOps can improve your work, company and career</a>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div><code>12:30</code></div>
          <div>Lunch</div>
        </div>

        <div class="schedule-row">
          <div><code>13:20</code></div>
          <div>Joost van Dongen</div>
          <div>
            <a href="/speakers/joost" title="Joost's talk">Code as a tool for creative expression</a>
          </div>
        </div>

        <div class="schedule-row">
          <div><code>14:00</code></div>
          <div>Dennis Fleurbaaij</div>
          <div>
            <a href="/speakers/dennis" title="Dennis' talk">The technology behind a modern quantitative trading operation</a>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div><code>14:30</code></div>
          <div>Coffee break</div>
        </div>

        <div class="schedule-row">
          <div><code>15:00</code></div>
          <div>Lisanne Brons</div>
          <div>
            <a href="/speakers/lisanne" title="Lisanne's talk">The ongoing journey to become a more diverse & inclusive company</a>
          </div>
        </div>

        <div class="schedule-row">
          <div><code>15:40</code></div>
          <div>Patrick Lee (Keynote)</div>
          <div>
            <a href="/speakers/patrick" title="Patrick's talk">Focus: How can you increase the chances of a startup being successful?</a>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div><code>16:30</code></div>
          <div>Closing and drinks</div>
        </div>
      </div>

      <p>
        Short breaks (10 minutes) are provided between talks. Due to sustainability considerations at least half of the lunch at <code>exec(ut)</code> will be vegetarian, with several vegan options. Various dishes and drinks will be available, so you most certainly won't go hungry. If you have any dietary restrictions you can notify us of that when you buy your ticket.
      </p>
    </div>
  </div>
</Layout>
