---
import { Image } from "astro:assets";

import logo from "@assets/partners/bpm-company.png";

import Layout from "@layouts/Base.astro";
---

<Layout title="BPM Company">
  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to full overview">&lt; Back to partner overview</a>
      </code>

      <h1 id="abstract">BPM Company</h1>

      <p>
        BPM Company is an innovative company and has the ambition to be a quality market leader in the field of digitization. We started in 2011 as the first Dutch Pegasystems partner and have since grown into the first Dutch Pega Gold partner.
      </p>

      <p>
        We believe that personal development is of fundamental importance and we facilitate it through extensive soft- and hard-skill training courses and our instructive knowledge sessions.
      </p>

      <p>
        We have our own projects at large reputable organizations where our employees can really make a difference and actually influence the application and digital transformation of the organization.
      </p>

      <p>
        Working with us means working for a stable and familiar organization with short lines of communication and where you as an employee are of central importance. Our culture is based on strong core values and we have an eye for the social well-being of our employees. Worklife / balance is therefore an important theme, as well as, our BBQ evenings, annual ski trip, cozy Christmas dinner and many other (digital) social activities.
      </p>

      <p>
        <strong>Pega low-code workshop</strong><br />
        BPM Company has prepared an interesting workshop for the exec(ut) Summer Edition. They will talk about Pega low-coding and why they think it is cooler than normal programming. During the workshop they will discuss how Pega could help to improve and accelerate the vaccination process. They will also discuss future possibilities of Pega development. Find out more about the workshop and how you can take part during exec(ut).
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="BPM Company" />
    </div>
  </div>
</Layout>
