---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/chipsoft.gif'

import Layout from '~/layouts/Base.astro'
---

<Layout title="Chipsoft">
  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to full overview">&lt; Back to partner overview</a>
      </code>

      <h1 id="abstract">Chipsoft</h1>

      <p>
        De schouders eronder zetten en de beste zorgsoftware ontwikkelen voor de zorg. Met die teamspirit startten Hans en Gerrit Mulder in 1986 ChipSoft. Die no-nonsense mentaliteit is drie decennia later nog steeds de spil van het bedrijf. Meer dan ooit zelfs, want de Mulders hebben er inmiddels ruim 900 'Chippies' bij.
      </p>

      <p>
        Al die honderden medewerkers krijgen de ruimte om zichzelf via cursussen en opleidingen door te ontwikkelen. En om hun eigen ideeën uit te werken. Want bij ChipSoft geloven we in het motto 'beter goed bedacht, dan goed gejat'. Die vrijheid geldt óók voor activiteiten met je collega's.
      </p>

      <p>
        Wat is typisch ChipSoft? Een medisch specialist de fijne kneepjes van onze software bijbrengen. Maar ook het organiseren van een sportactiviteit voor je collega's. Of het ontwikkelen van een oplossing die patiëntlogistiek in ziekenhuizen optimaliseert. Dat alles met een gezamenlijk doel: onze koppositie in de wereld van zorg-ICT verstevigen. Doe je mee?
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="Chipsoft" />
    </div>
  </div>
</Layout>
