---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/asml.svg'

import Layout from '~/layouts/Base.astro'
---

<Layout title="ASML">
  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to full overview">&lt; Back to partner overview</a>
      </code>

      <h1 id="abstract">ASML</h1>

      <p>
        ASML is a high-tech company, headquartered in the Netherlands. We manufacture the complex lithography machines that chipmakers use to produce integrated circuits, or computer chips. Over 30 years, we have grown from a small startup into a multinational company with over 60 locations in 16 countries and annual net sales of €14.0 billion in 2020.
      </p>

      <p>
        Behind ASML's innovations are engineers who think ahead. The people who work at our company include some of the most creative minds in physics, electrical engineering, mathematics, chemistry, mechatronics, optics, mechanical engineering, computer science and software engineering.
      </p>

      <p>
        Because ASML spends more than €2 billion per year on R&D, our teams have the freedom, support and resources to experiment, test and push the boundaries of technology. They work in close-knit, multidisciplinary teams, listening to and learning from each other.
      </p>

      <p>
        <em>If you are passionate about technology and want to be a part of progress, visit <a href="http://www.asml.com/careers" target="_blank" rel="noopener">www.asml.com/careers</a>.</em>
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} alt="ASML" class="photograph" />
    </div>
  </div>
</Layout>
