---
import { Image } from "astro:assets";

import logo from "@assets/partners/sogeti.png";

import Layout from "@layouts/Base.astro";
---

<Layout title="Sogeti">
  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to full overview">&lt; Back to partner overview</a>
      </code>

      <h1 id="abstract">Sogeti</h1>

      <p>
        Sogeti is een multi IT-specialist in applicatiebeheer en management van. De oplossingen van Sogeti voor mobiel werken, security de cloud en business intelligence dragen bij aan het realiseren van de strategische doelstellingen van haar klanten in de grootzakelijke markt. Op het gebied van software testen is Sogeti marktleider zowel wereldwijd als in Nederland.
      </p>

      <p>
        Passie voor het vakmanschap zit in de genen van 2500 Sogetisten werkzaam dichtbij de klant. Onze klanten behoren tot de top-200 van het Nederlandse bedrijfsleven. Sogeti is onder meer te vinden bij overheden, banken en verzekeraars, alsook in de detailhandel, logistiek en luchtvaart.
      </p>

      <p>
        Sogeti Nederland B.V. maakt deel uit van de wereldwijde Sogeti groep met zo'n 20.000 IT-professionals in 15 landen met meer dan 100 vestigingen in Europa de VS en India.
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} alt="Sogeti" class="photograph" />
    </div>
  </div>
</Layout>
