---
import { getEntries, getCollection, getEntry } from 'astro:content'

const editions = await getCollection('editions')

for (const edition of editions) {
  const { id, data } = edition

  let partners = data.partners && await getEntries(Object.values(data.partners).flat()) || []
  let speakers = data.speakers && await getEntries(data.speakers) || []
  let talks = data.talks && await getEntries(data.talks) || []
  let workshops = data.workshops && await getEntries(data.workshops) || []

  const { programme } = data

  for (const { activities } of programme || []) {
    for (const { type, activity } of activities || []) {
      if (type === 'talk') {
        const talk = await getEntry(activity)
        const i = talks.findIndex(({ id }) => id === talk.id)

        if (i !== -1) {
          talks.splice(i, 1)
        } else {
          console.warn(talk)
        }
      }

      if (type === 'workshop') {
        const workshop = await getEntry(activity)
        const i = workshops.findIndex(({ id }) => id === workshop.id)

        if (i !== -1) {
          workshops.splice(i, 1)
        } else {
          console.warn(workshop)
        }
      }
    }
  }

  console.log(id, talks.map(({id}) => id), workshops.map(({id}) => id))
}
---

<!doctype html>
<html>
  <head> </head>

  <body> </body>
</html>
