---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/ing.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Silver Partner<br />
      <a href="https://www.ing.nl/careers/IT" title="ING" target="_blank" rel="noopener">
        <button>ING</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to partner overview">&lt; Back to the partner overview</a>
      </code>

      <h1>About ING</h1>

      <p>
        Not many traditional industries are impacted by the current Technology Disruption like Banking. As a front-runner in providing Financial Services to over 37 million customers in 40 different countries, ING is fully geared up to drive that change. Traditional geographic borders disappear, FinTechs challenge the establishment, real-time is what our customers expect, and trust and security is not an added value but merely the foundation.
      </p>

      <p>
        The banking industry is more and more becoming an IT-driven enterprise. The ING Think Forward strategy is providing a unified customer experience to all of our clients, independent of time and place. ING is uniting across borders, and is rapidly changing long-established processes and procedures to become truly digital. We do not follow innovations around us, but initiate them. In order to support these changes, ING has globally adopted the Agile Way-of-Working: no longer management steers and decides, but our (IT) Engineers drive the change, while management facilitates. We feel that only then ING will be able to stand the challenges of the time ahead. And we do not only preach this, but practice it. Every minute of the day
      </p>

      <p>
        Check out <a href="https://ing.nl/careers/IT" target="_blank" rel="noopener">ing.nl/careers/IT</a> to learn more about us…
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="ING logo" />
    </div>
  </div>
</Layout>
