---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/keylane.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Principal Partner<br />
      <a href="https://careers.keylane.com/nl" title="Keylane" target="_blank" rel="noopener">
        <button>Keylane</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to partner overview">&lt; Back to the partner overview</a>
      </code>

      <h1>We are Keylane</h1>

      <p>
        Keylane is a leading European software company and SaaS provider with IT solutions based on 20 years in-depth knowledge and multi domain sector expertise. This enables us to deliver best practice and the latest innovation to our client base. We offer best-in-class SaaS hosting, with 24/7 availability of an expert team. In a fully controlled and secured ISO 27001 and ISAE3402 certified private cloud environment, supported by services and built in data centers.
      </p>

      <p>
        Our software solution enables our customers to engage effectively with their customers; providing agility combined with operational efficiency.
      </p>

      <p>
        Keylane has more than 830 employees working at offices in The Netherlands (headquarters), Germany, Denmark, Norway and Sweden. We typically employ highly skilled professionals with technological, consultancy and/or management competences.
      </p>

      <h2>KEY about our team of experts</h2>

      <p>
        Do you love client interaction and seek for (new) challenges in every software implementation? Or do you rather focus on the technical capabilities & complexity during an implementation? Eager to deep dive and create new products? At Keylane you can go into many directions with your knowledge!
      </p>

      <h2>KEY benefits</h2>

      <p>
        We ask a lot. But we also offer a lot. We offer a job in a tech savvy organization that wants to conquer Europe. You are going to part of a great high energetic team that is in the middle of a big transition. You get the chance to develop as a professional, in a crucial role. Moreover, you can make impact and contribute to the further professionalization of our company.
      </p>

      <p>
        <code>
          <a href="https://careers.keylane.com/nl" title="Keylane" target="_blank" rel="noopener">careers.keylane.com/nl</a>
        </code>
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="Keylane Logo" />
    </div>
  </div>
</Layout>
