---
import { Image } from 'astro:assets'

import logo from '~/assets/partners/nedap.png'
import location from '~/assets/banners/location.jpg'

import Layout from '~/layouts/Base.astro'
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      Gold Partner<br />
      <a href="https://lifeatnedap.com/" title="Nedap" target="_blank" rel="noopener">
        <button>Nedap</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="biography">
      <code>
        <a href="/partners" title="Back to partner overview">&lt; Back to the partner overview</a>
      </code>

      <h1>First people, then technology</h1>

      <p>
        Even though Nedap is a technology company at heart, our strength is that we always put people first. 'First people, then technology' is what we call it. We do so by observing people - and what they need to perform better - before we start developing technology.
      </p>

      <h2>We observe. We create. We scale.</h2>

      <p>
        At Nedap, design and technology work closely together to meet people's professional needs. We create elegant solutions that are easy to use and beautiful to look at. These solutions enable interactive shopping experiences from Adidas to H&M, and provide security for major landmarks such as the Eiffel Tower and the Burj Khalifa. We help farmers take care of their livestock and even find you a place to park your car in Amsterdam.
      </p>

      <h2>People. Culture. Leadership.</h2>

      <p>
        'First people, then technology' does not only apply to the markets in which we operate, it also applies to our own organization. We invest in developing talent. At our beautiful campus in Groenlo we challenge 'Nedappers' to realize their ideas and ambitions and to achieve more than they could ever imagine. At Nedap, you are challenged to take the lead from day one. Are you ready to take the lead and unleash your potential? Meet Nedap.
      </p>

      <p>
        <code>
          <a href="https://lifeatnedap.com/" title="Nedap" target="_blank" rel="noopener">https://lifeatnedap.com/</a>
        </code>
      </p>
    </div>

    <div class="column" id="photograph">
      <Image src={logo} class="photograph" alt="Nedap logo" />
    </div>
  </div>
</Layout>
