---
import Layout from "@layouts/Base.astro";
---

<Layout title="About">
  <div class="copy">
    <h1>About us</h1>

    <p>
      <code>exec(ut)</code> is an event organised by <a href="https://www.stichtingsticky.nl/" target="_blank" rel="noopener">Stichting Sticky</a>. It is a conference for and by students, offering a glimpse at the wondrous world of IT beyond the university. We strive to provide a diverse programme and show how exciting conferences can be. Our main way of contact is via our e-mail address <a href="mailto:conference@execut.nl">conference@execut.nl</a>.
    </p>

    <h2>Archives</h2>

    <p>
      Websites of previous <code>exec(ut)</code> editions are archived. Check out the <a href="https://2018.execut.nl/" target="_blank" rel="noopener">2018</a>, <a href="https://2019.execut.nl/" target="_blank" rel="noopener">2019</a>, and <a href="https://2020.execut.nl/" target="_blank" rel="noopener">2020</a> edition websites.
    </p>

    <h2>Acknowledgements</h2>

    <p>
      Aside from our speakers, host, and partners, there are a few people and organisations whom we would like to thank for their contributions to the organisation of <code>exec(ut)</code>. These are, in no particular order:
    </p>

    <p>
      <code>
        DomCode, for letting us take inspiration from their code of conduct;<br />
        Simpact, for helping us navigate the world of CO<sup>2</sup> compensation;<br />
        Martijn Casteel and Amber Norder for programming the very first exec(ut) app;<br />
        and the staff of Utrecht University's CS department for their support in planning and promotion.
      </code>
    </p>

    <br />

    <h1>The committee</h1>
    <div class="committee">
      <div>
        <div class="name"><a href="https://www.linkedin.com/in/simardeepsinghlidhar/">Simardeep Singh</a></div>
        <div class="role">Chair</div>
      </div>

      <div>
        <div class="name"><a href="https://www.linkedin.com/in/jarivw/">Jari van Wijk</a></div>
        <div class="role">Treasurer</div>
      </div>

      <div>
        <div class="name"><a href="https://www.linkedin.com/in/ceylan-albrecht/">Ceylan Albrecht</a></div>
        <div class="role">Acquisition</div>
      </div>

      <div>
        <div class="name"><a href="https://www.linkedin.com/in/nena-schuitemaker-94240619a">Nena Schuitemaker</a></div>
        <div class="role">Acquisition</div>
      </div>

      <div>
        <div class="name"><a href="https://www.linkedin.com/in/nicole-van-den-dries-8a250a177">Nicole van den Dries</a></div>
        <div class="role">Speakers</div>
      </div>

      <div>
        <div class="name"><a href="http://www.linkedin.com/in/daniek-garst-759671197">Daniek Garst</a></div>
        <div class="role">Location and Logistics</div>
      </div>

      <div>
        <div class="name"><a href="https://nl.linkedin.com/in/victor-paalman-aa13b0162">Victor Paalman</a></div>
        <div class="role">Promotion and Ticketing</div>
      </div>

      <div>
        <div class="name"><a href="https://www.linkedin.com/in/zoe-coenen/">Zoë Coenen</a></div>
        <div class="role">Internal Affairs</div>
      </div>
    </div>
  </div>
</Layout>
