---
import Layout from '~/layouts/Base.astro'
---

<Layout title="Home">
  <div class="copy">
    <h1>Hello world!</h1>

    <p>
      On June 7th, 2021 the <code>exec(ut)</code> Summer Edition is set to take place in Utrecht. Grab some drinks, find a comfy place in the sun, and tune into our online event full of <a title="interesting IT-related talks" href="/programme">interesting IT-related talks</a>!
    </p>

    <p>
      <code>exec(ut)</code> is a conference for and by IT students, for those willing to look further than their own classroom. We want to work together, inspire each other, and commit ourselves to a better tomorrow. Besides a range of interesting talks <code>exec(ut)</code> provides great networking opportunities to those attending.
    </p>

    <p>
      Tickets are available now, so head over to the <a href="/tickets">ticket page</a>! Tickets are availabe now with Early Bird-discount, so don't wait too long.
    </p>

    <p>
      Curious to see what <code>exec(ut)</code> is all about? Check out <a href="https://www.youtube.com/watch?v=Jpmf7WRpgW0">our teaser</a> for upcoming edition.
    </p>
  </div>
</Layout>
