---
import Layout from "@layouts/Base.astro";
---

<Layout title="Location">
  <div class="copy" id="two-column">
    <div class="column" id="main">
      <h1>Social Impact Factory</h1>

      <p>
        All exec(ut) talks will be streamed from the Social Impact Factory (SIF) in Utrecht. Please note that SIF is located inside de Utrechter.
      </p>

      <h3>About the Social Impact Factory</h3>

      <p>
        SIF is the hotspot for social entrepreneurship. They have an event space (our 'studio') and smaller offices where you can work on your brightest ideas. With SIFs focus on social entrepreneurship, they perfectly align with our more sustainable vision at exec(ut).
      </p>
    </div>

    <div class="column" id="side">
      <p>
        <strong>Social Impact Factory</strong><br />
        Vredenburg 40<br />
        3511BD Utrecht
      </p>
    </div>
  </div>
</Layout>
