---
import Layout from "@layouts/Base.astro";
---

<Layout title="Programme">
  <div class="copy">
    <div id="schedule">
      <h1>Programme</h1>

      <p>
        On June 7, 2021 our venue will most likely host 4 consecutive speakers, each of whom will give a talk on a particular aspect of software and technology. The talks will be streamed from the Social Impact Factory to the Let's Get Digital platform.
      </p>

      <div class="schedule-table">
        <div class="schedule-row organisational">
          <div><code>12:00</code></div>
          <div>Opening and welcome</div>
        </div>

        <div class="schedule-row">
          <div><code>12:15</code></div>
          <div>
            <a href="/speakers/andy-haxby">Andy Haxby</a>
          </div>
          <div>CodePamoja/WorkPamoja: Growing the African ICT sector through EurAfrican collaboration</div>
        </div>

        <div class="schedule-row">
          <div><code>12:55</code></div>
          <div>
            <a href="/speakers/marc-somberg">Marc Somberg</a>
          </div>
          <div>Augmented Intelligence: one of the most hyped and misunderstood technologies in the healthcare industry</div>
        </div>

        <div class="schedule-row organisational">
          <div><code>13:35</code></div>
          <div>Speeddates &amp; Workshop</div>
        </div>

        <div class="schedule-row">
          <div><code>14:45</code></div>
          <div>
            <a href="/speakers/rami-ismail">Rami Ismail</a>
          </div>
          <div>Games - Code but not Code</div>
        </div>

        <div class="schedule-row">
          <div><code>15:25</code></div>
          <div>
            <a href="/speakers/nathalie-post">Nathalie Post</a>
          </div>
          <div>Designing &amp; building human-centered AI products &amp; services</div>
        </div>

        <div class="schedule-row organisational">
          <div><code>16:10</code></div>
          <div>Closing</div>
        </div>
      </div>

      <p>
        <a href="/sponsor/bpm-company">Click here for more information about the workshop</a>
      </p>

      <p>
        Short breaks (10 minutes) are provided between talks. We'll also be providing opportunities for speed dates with our partners, where you can expand your professional network.
      </p>
    </div>
  </div>
</Layout>
