---
import Layout from "@layouts/Base.astro";
---

<Layout title="Tickets">
  <div class="copy">
    <h1>Tickets</h1>

    <p>
      Tickets are now available. Use the widget below to buy your tickets. See you on June 7th!
    </p>

    <span><code>Tickets are (of course) no longer available.</code></span>
  </div>
</Layout>
