---
import location from "@assets/banners/main.jpg";

import Layout from "@layouts/Base.astro";
---

<Layout>
  <div class="banner" style={{ backgroundImage: `url(${location.src})` }}>
    <p>
      A conference for and by IT students<br />March 18, 2019 in Utrecht<br />
      <a href="/tickets.html" title="Click here to get your ticket">
        <button>Get your ticket now!</button>
      </a>
    </p>
  </div>

  <div class="copy" id="two-column">
    <div class="column" id="main">
      <h1>Hello world!</h1>

      <p>
        On March 18th, 2019 the second edition of <code>exec(ut)</code> is set to take place in Utrecht. For an entire day we'll take over TivoliVredenburg's Hertz in order to provide a <a href="/programme.html">variety of tech-related talks</a>, ranging from data visualisation to cyber security.
      </p>

      <p>
        <code>exec(ut)</code> is a conference for and by IT students, providing a solid student discount on tickets. Professionals and practicioners are, however, more than welcome and sure to fit in. Besides a range of interesting talks <code>exec(ut)</code> provides great networking opportunities to those attending.
      </p>

      <p>
        Only a limited number of tickets are available, so make sure to <a href="/tickets.html">get yours now</a>!
      </p>
    </div>

    <div class="column" id="side">
      <h1>Stay up-to-date</h1>

      <p>Trust us with your e-mail and we'll keep you in the loop.</p>

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block. We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup {
          clear: left;
          font: 14px Helvetica, Arial, sans-serif;
        }

        #mce-EMAIL {
          width: 100% !important;
          font-family: "Ubuntu Mono", "Courier New", monospace !important;
          border-radius: 0 !important;
          padding: 0 !important;
          padding-left: 0.4rem !important;
          width: calc(100% - 0.4rem) !important;
        }

        #mc-embedded-subscribe-form{
          padding: 0 !important;
        }

        #mc-embedded-subscribe {
          background-color: var(--green) !important;
          font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
          border-radius: 0 !important;
        }

        #mc-embedded-subscribe:hover {
          background-color: var(--brown) !important;
        }
      </style>

      <div id="mc_embed_signup">
        <form id="mc-embedded-subscribe-form">
          <div id="mc_embed_signup_scroll">
            <input
              disabled
              type="email"
              class="email"
              id="mce-EdMAIL"
              placeholder="email address" />
            </div>
            <div class="clear">
              <input
                disabled
                value="Subscribe"
                id="mc-embedded-subscribe"
                class="button"
                style={{ cursor: 'not-allowed' }} />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</Layout>
