---
import Layout from "@layouts/Base.astro";
---

<Layout title="Location">
  <div class="copy" id="two-column">
    <div class="column" id="main">
      <h1>Flint</h1>

      <p>
        All exec(ut) talks and workshops will be held inside the Flint conference center. This will be the first time that exec(ut) will be taking place outside Utrecht!
      </p>

      <h3>About Flint</h3>

      <p>
        Flint, formerly De Flint, is a theatre in the centre of Amersfoort, Netherlands built in 1977. It was designed by Onno Greiner. The Flint programme includes play, musicals, cabaret and performances for children. This year it will be the stage for the exec(ut) conference. We will be provided with a room for talks, workshops and a lounge in which we will host the lunch, dinner and company stands. Take a break between talks to talk with friends and companies.
      </p>
    </div>

    <div class="column" id="side">
      <p>
        <strong>Flint</strong><br />
        Coninckstraat 60<br />
        3811WK Amersfoort
      </p>
    </div>
  </div>
</Layout>
