---
import Layout from "@layouts/Base.astro";
---

<Layout title="Programme">
  <div class="copy">
    <div id="schedule">
      <h1>Programme</h1>

      <p>
        On March 28, 2022 our venue will host 6 consecutive speakers, each of whom will give a talk on a particular aspect of software and technology. These talks will be held inside Flint.
      </p>

      <p>
        For the first time during a live exec(ut) we will host workshops throughout the day! More information about the topics, timeslots and enrollment will be announced shortly!
      </p>

      <div class="schedule-table">
        <div class="schedule-row header">
          <div class="time">Time</div>
          <div class="talk">AFASzaal</div>
          <div class="workshop">Zaal 2 (Workshop)</div>
        </div>

        <div class="schedule-row organisational">
          <div class="time"><code>10:00</code></div>

          <div class="talk">Opening &amp; Welcome</div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>10:15</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/marc-somberg">Marc Somberg</a>
            </div>
            <div>Opening Keynote provided by Chipsoft</div>
          </div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>11:25</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/hinda-haned">Hinda Haned</a>
            </div>
            <div>Defining and mitigating algorithmic bias: a practitioner's perspective</div>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div class="time"><code>12:10</code></div>

          <div>Lunch</div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>13:00</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/anke-schlichting">Anke Schlichting</a>
            </div>
            <div>IT Journeys</div>
          </div>

          <div class="workshop">
            <div>
              <a href="/speakers/workshop-chipsoft">Workshop Chipsoft</a>
            </div>
            <div>How to get rid of the fax!</div>
          </div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>13:55</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/matthijs-van-de-laar">Matthijs van de Laar</a>
            </div>
            <div>Talk Storytelling in an Autonomous Game World</div>
          </div>

          <div class="workshop">
            <div>
              <a href="/speakers/workshop-sogeti">Workshop Sogeti</a>
            </div>
            <div>Talk to your software robot!</div>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div class="time"><code>14:50</code></div>

          <div>Coffee break</div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>15:20</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/michiel-overeem">Michiel Overeem</a>
            </div>
            <div>Low-Code Platforms, Tales from a Software Architect</div>
          </div>

          <div class="workshop">
            <div>
              <a href="/speakers/workshop-aegon">Workshop Aegon</a>
            </div>
            <div>Digital escaperoom</div>
          </div>
        </div>

        <div class="schedule-row">
          <div class="time"><code>16:15</code></div>

          <div class="talk">
            <div>
              <a href="/speakers/mike-joosten">Mike Joosten</a>
            </div>
            <div>View the world through APIs</div>
          </div>
        </div>

        <div class="schedule-row organisational">
          <div class="time"><code>17:15</code></div>

          <div class="talk">Closing &amp; drinks</div>
        </div>
      </div>

      <p>
        Short breaks (10 minutes) are provided between talks. During the lunch and coffee break, we will provide some free time in which you can expand your professional network by meeting our partners!
      </p>
    </div>
  </div>
</Layout>
