---
import Layout from '~/layouts/Base.astro'
---

<Layout title="Tickets">
  <div class="copy">
    <h1>Tickets</h1>

    <p>Tickets are no longer available since exec(ut) has already passed. Hope to see you all next year!</p>
  </div>
</Layout>
